@model ReservationSystem.Models.Reservation

@{
    ViewData["Title"] = "Create";
}
<section id="book-a-table" class="book-a-table">
    <div class="container">
        <div class="section-title">
            <h2>Reservations</h2>
        </div>
        <form asp-action="Create">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input asp-for="FirstName" class="form-control" placeholder="First Name"/>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input asp-for="LastName" class="form-control" placeholder="Last Name"/>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input asp-for="Contact" class="form-control" placeholder="Phone/Email"/>
                    <span asp-validation-for="Contact" class="text-danger"></span>
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input asp-for="DateTime" type="datetime-local" class="form-control"/>
                    <span asp-validation-for="DateTime" class="text-danger"></span>
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input asp-for="NoOfPpl" type="number" class="form-control" placeholder="# of people"/>
                    <span asp-validation-for="NoOfPpl" class="text-danger"></span>
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <select asp-for="Area" class="form-control" asp-items="Html.GetEnumSelectList<Reservation.AreaEnum>()"></select>
                    <span asp-validation-for="Area" class="text-danger"></span>
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <select asp-for="SessionType" class="form-control" asp-items="Html.GetEnumSelectList<Reservation.SessionEnum>()"></select>
                    <span asp-validation-for="SessionType" class="text-danger"></span>
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <select asp-for="Source" class="form-control">
                        <option value="Online">Online</option>
                        <option value="In-person">In-Person</option>
                        <option value="Email">Email</option>
                        <option value="Phone">Phone</option>
                    </select>
                </div>
            </div>
            <div class="form-group mt-3">
                <textarea asp-for="Notes" class="form-control" rows="5" placeholder="Notes: additional contacts, dietry requirements, prefered space within selected area"></textarea>
            </div>
            <div class="text-center">
                <input type="submit" value="Request" class="request"/>
                <a type="button" class="back" href="@Url.Action("Index")">
                    <span class="glyphicon glyphicon-list"></span>
                    <span>Go Back</span>
                </a>
            </div>
        </form>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
