@model ReservationSystem.Models.Reservation
<!-- https://kontext.tech/article/234/retrieve-identity-username-email-and-other-information-in-aspnet-core -->
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

@{
    ViewData["Title"] = "ReservationRequest";
}

<section id="book-a-table" class="book-a-table">
    <div class="container">
        <div class="section-title">
            <h2>Reservations</h2>
        </div>
        <form asp-action="ReservationRequest">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input asp-for="FirstName" class="form-control" placeholder="First Name"/>
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input asp-for="LastName" class="form-control" placeholder="Last Name"/>
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input asp-for="Contact" class="form-control" placeholder="Phone/Email"/>
                    <span asp-validation-for="Contact" class="text-danger"></span>
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input asp-for="DateTime" type="datetime-local" class="form-control"/>
                    <span asp-validation-for="DateTime" class="text-danger"></span>
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <input asp-for="NoOfPpl" type="number" class="form-control" placeholder="# of people"/>
                    <span asp-validation-for="NoOfPpl" class="text-danger"></span>
                </div>
                <div class="col-lg-4 col-md-6 form-group">
                    <select asp-for="Area" class="form-control" asp-items="Html.GetEnumSelectList<Reservation.AreaEnum>()"></select>
                    <span asp-validation-for="Area" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mt-3">
                <textarea class="form-control" rows="5" placeholder="Notes: additional contacts, dietry requirements, prefered space within selected area"></textarea>
            </div>
            <div class="text-center">
                <input type="submit" value="Request Reservation" class="request"/>
                <a type="button" class="back" href="@Url.Action("UserIndex")">
                    <span class="glyphicon glyphicon-list"></span>
                    <span>Go Back</span>
                </a>
            </div>
        </form>
    </div>
</section>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
